.selected-container {
	background-color: rgb(27, 27, 27);
	margin: 5vh auto;
	width: 90vw;
	border-radius: 10px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.selected-container h3 {
	color: white;
	font-family: "staatliches", sans-serif;
	font-size: 5em;
	margin: 20px 40px;
}

.selected-container p {
	margin: 20px 40px;
}

.label {
	color: var(--blue-accent-color);
	font-family: "staatliches", sans-serif;
	font-size: 2.5em;
	letter-spacing: 2px;
}

.card-text {
	color: white;
	font-family: "Roboto", sans-serif;
	font-size: 2em;
}

.header-container {
	display: block;
     margin-right: 20px;
}

.rating {
     margin-left: 40px;
}

.rating span {
	color: white;
	font-size: 3em;
}

.card-actions {
	text-align: right;
	margin-top: auto;
	margin-bottom: 20px;
	margin-right: 20px;
}

.card-actions .action-button {
	padding: 2px;
	background-color: rgb(27, 27, 27);
}

@media screen and (min-width: 800px) {
	.selected-container {
		margin: 10px 50px;
		width: 70vw;
	}

	.header-container {
		display: flex;
		justify-content: space-between;
     }
     
     .rating {
          margin: 0px;
     }
}
