.main-container {
     display: block;
     overflow-x: hidden;
}

.deck-title {
	text-align: left;
}

.deck-options {
     display: block;
     margin-left: 50px;
     margin: 0px 40px;
}

@media screen and (min-width: 800px) {
	.main-container {
          display: flex;
	}

	.deck-options {
		display: flex;
          justify-content: space-between;
          
	}
}
